body{
    font-family: 'Raleway';
    margin: 0%;
    padding: 0px;
    background-image: url(/img/Color_Fill_1.svg);
    background-size: cover;
    background-repeat: no-repeat;
    
}
header{
    background:linear-gradient(-53deg, #00b8d4 0%, #1de9b6 100%);
    border: solid 2px;
    background-color: #061e37;
    margin: 0%;
    padding: 0%;
    height: 950px;
    background-size: cover;
    opacity: 0.9;
}

.navbar{
    padding: 50px 80px 0px 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 180px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo_img{
    width: 30px;
    height: 30px;
}
.logo_text{
   text-transform: uppercase;
   font-size: 14px;
   width: 140px;
   height: 26px;
   color: #ffffff;
   font-weight: 400;
   line-height: 15px;
}
.menu {
    width:  440px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: flex;
}
button{
    height: 25px;
    width: 80px;
    border-radius: 2px;
    border: 1px solid #ffffff;
    background: rgba(255, 255, 255, 0.0);
}
a {
    text-decoration: none;
    color: #ffffff;
    
}
ul {
    list-style: none;
    font-weight: 400;
    line-height: 25px;
    font-size: 15px;
    height: 14px;
    width: 441px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
@font-face {
    font-family: 'Raleway';
    font-weight: Extra-Bold;
    font-style: normal;
    src: url(/font/Raleway.ttf);
    }
.info {
    padding-left: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
h1 {
  width: 471px;
  height: 107px;
  color: #ffffff;
  font-size: 55px;
  line-height: 65px;
  text-transform: uppercase;
}